# Node.js
node_modules/
package-lock.json

# TypeScript
dist/
*.tsbuildinfo

# Env
.env

# Playwright
test-results/
playwright-report/
allure-results/
allure-report/
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
